
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>

<body>
<h2 class="my-3 text-center">Clients</h2>
</br>


    <table>
        <thead>
        <tr>
            <th style="width: 200px;">FirstName</th>
            <th style="width: 200px;">LastName</th>
            <th style="width: 200px;">Email</th>
            <th style="width: 200px;">Data</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="client : ${clients}">
            <td th:text="${client.firstName}"/>
            <td th:text="${client.lastName}"/>
            <td th:text="${client.email}"/>
            <td th:text="${client.driverLicenseIssueDate}"/>
<!--            TODO                    -->
<!--            <td button update/>     -->
<!--            <td button delete/>     -->
        </tr>
        </tbody>
    </table>

    <form action="#" th:action="@{/clientsList}" th:object="${client}" method="post">
        <div>
            <div style="padding: 10px">
                <label>Imię:</label>
                <input type="text" class="form-control" th:field="*{firstName}" required/>
            </div>
            <div style="padding: 10px">
                <label>Nazwisko:</label>
                <input type="text" class="form-control" th:field="*{lastName}" required/>
            </div>
            <div style="padding: 10px">
                <label>Email:</label>
                <input type="text" class="form-control" th:field="*{email}" required/>
            </div>
            <div style="padding: 10px">
                <label>Data wydania prawa jazdy:</label>
                <input type="date" class="form-control" th:field="*{driverLicenseIssueDate}" required/>
            </div>
        </div>

        <button type="submit">Add Client</button>
    </form>
</body>
</html>